{% extends 'e_mail/home.html' %}

{% block content %}
{% if user.is_blocked %}
<div class="col-12 text-center">
    <h1>
        Ваш аккаунт заблокирован!
    </h1>
    <a class="p-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Выйти</a>
</div>
{% else %}
<div class="container">
    <form method="post" action="" enctype="multipart/form-data" class="form-floating mx-auto">
        <div class="row ">
            <div class="col-12">
                <div class="col-10 mx-auto">
                <div class="card mb-4 box-shadow mx-auto">
                    <div class="card-header text-center">
                        <h4 class="my-0 font-weight-normal">Редактирование письма</h4>
                    </div>
                    <div class="card-body text-center">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-block btn-outline-primary">Сохранить</button>
                    </div>
                </div>
            </div>
            <div class="col-10 mx-auto">
                <div class="card mb-4 box-shadow mx-auto">
                    <div class="card-header text-center">
                        <h4 class="my-0 font-weight-normal">Редактирование настроек рассылки</h4>
                    </div>
                    <div class="card-body text-center">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                        {{ form.as_p }}
                        {% endfor %}
                        <button type="submit" class="btn btn-block btn-outline-primary">Сохранить</button>
                    </div>
                </div>
            </div>
            </div>


        </div>
    </form>
</div>
{% endif %}
{% endblock %}