{% extends 'e_mail/home.html' %}
{% load static %}


{% block content %}
<div class="container">
    <form method="post" action="" enctype="multipart/form-data" class="form-floating">
        <div class="row text-start">
            <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
                <div class="card mb-4 box-shadow mx-auto">
                    <div class="card-header text-center">
                        <h4 class="my-0 font-weight-normal">Профиль</h4>
                    </div>
                    <div class="card-body text-center">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-block btn-outline-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}